{% extends "base.html" %}
{%block section%}

<h1> Estado de la Inversión</h1>

<article>
    <p><strong>Invertido: </strong>{{adicion}}</p>
    <p><strong>Recuperado: </strong>{{recovered}}</p>
    <p><strong>Valor de la compra: </strong>{{valorC}}</p>
    <p><strong>Valor actual: </strong></p>
</article>
    
<div >
    <input class="volver" type="submit" id="volver" name="volver" value="volver">
</div>

{%endblock%}
errores=[]
        recur=recuperado()
        if value_from_qr != "EUR":
            if float(value_to) < float(recur) or float(value_to)==False:
                errores.append("- Fondos insuficientes o moneda equivocada")  
            
            else:
                return render_template("purchase.html",msgError= errores[0], form=list_request)


            dispo=monedas_disponible()
            if dispo != value_from_qr:
                errores.append(" - No tiene disponible esta criptomoneda") 
                
            else:
                return render_template("purchase.html",msgError= errores[0], form=list_request)    
            
            
            if value_from_qr == value_to:
                errores.append("- No puedes operar la misma criptomoneda")
            else:
                return render_template("purchase.html",msgError= errores[0], form=list_request)
