header,footer{
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto  1fr auto;
    margin: 0
}

ul.errors{
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}

ul.flashes{
    color: rgb(51, 158, 52);
    font-weight: bold;
    font-size: 0.8em;
}

.inactive{
    display: none;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48
}

label, input{
    font-size: 25px;
    text-align: center;
}


